---
import Icon from "astro-icon";
import Layout from "../layouts/Layout.astro";
import SocialIcon from "../components/SocialIcon.astro";
---

<Layout>
  <div class="fixed bottom-0 p-4">
    <ul>
      <li>
        <SocialIcon name="ri:linkedin-line" href="https://www.linkedin.com/in/charles-yan/" />
      </li>
      <li>
        <SocialIcon name="ri:github-line" href="https://github.com/chsyan" />
      </li>
      <li>
        <SocialIcon name="ri:mail-line" href="mailto:charles5850@gmail.com" />
      </li>
    </ul>
  </div>
  <div class="h-screen">
    <h1 class="text-6xl text-center overflow-x-hidden">
      <div class="p-32"></div>
      <span class="relative">
        Hi, I&apos;m Charles
        <span class="after:block after:absolute after:w-1 after:h-full
after:bg-gray-100 absolute left-0 inline-block w-full bg-gray-800 bottom-0 top-0 animate-type"></span>
      </span>
    </h1>
    <div id="chevron" class="visible">
      <div class="grid place-items-center">
        <Icon class="grid place-items-center w-16 absolute bottom-0 animate-bounce"
          name="ic:round-keyboard-double-arrow-down" />
      </div>
    </div>
    <div class="p-4"></div>
    <h2 class="text-center px-64 text-xl">
      I&apos;m a 3rd year student at the <a href="https://www.ubc.ca/">University of British Columbia</a> studying
      towards a Bachelor of Science majoring in <a
        href="https://phas.ubc.ca/undergrad-combined-honours-physics-and-computing-science">Combined Honours in Computer
        Science and Physics</a>
    </h2>
    <p>
      Welcome to my little corner of the internet!
    </p>
    <p>
      I used to swim competitively until ~2017. <a href="https://www.swimming.ca/en/swimmer/4700341/">Swimming
        Canada</a> has my times.
      After that, I transitioned to triathlons, eventually qualifying and racing at the <a
        href="https://www.triathlon.org/results/result/2019_itu_world_triathlon_grand_final_lausanne/347483">2019 ITU
        World Triathlon Grand Finals</a> in Laussane, Switzerland. I placed a respectable 5th...from last. Some of my
      other triathlon results can be found at <a
        href="https://www.sportstats.ca/search-results.xhtml?query=charles%20yan">Sport Stats</a>, which also has some
      of my running races.
    </p>
  </div>
  <div class="h-screen"></div>
</Layout>

<script is:inline>
  let chevron = document.getElementById("chevron");
  window.addEventListener("scroll", function () {
    if (window.scrollY < 300) {
      chevron.className = "visible"
    } else {
      chevron.className = "invisible"
    }
  });
</script>

<style lang="css">
  @import "../styles/global.css";
</style>